/* Estilo do container da listagem */
.card-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.card-component h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo comum dos cards */
.individual-company-card,
.individual-offer-card,
.individual-student-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-bottom: 16px;
}

/* Ajuste de larguras específicas */
.individual-company-card,
.individual-offer-card 
.individual-student-card {

    width: 500px;
}

/* Estilo de títulos nos cards */
.individual-company-card h3,
.individual-offer-card h3,
.individual-student-card h3 {
    margin: 0 0 12px;
}

.individual-company-card,
.individual-student-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    margin-top: 6px;
    border-radius: 25px;
    color: black;
}

/* Estilo de textos pequenos */
.individual-company-card smal,
.individual-offer-card .d-flex smal,
.individual-student-card .d-flex smal {
    height: 1.2rem;
    font-weight: bold;
    margin: 0 20px;
    color: #6cb0fe;
}

/* Estilo para d-flex dentro dos cards */
.individual-offer-card .d-flex,
.individual-student-card .d-flex {
    margin-bottom: 12px;
}

.individual-offer-card .d-flex div,
.individual-student-card .d-flex div {
    flex: 1;
}

.individual-offer-card .d-flex p,
.individual-student-card .d-flex p {
    margin: 0;
}

/* Estilo dos botões */
.btn-action {
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.btn-view {
    background-color: #3e3e68;
    

}

.btn-apply {
    background-color: #28a745;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-view:hover {
    background-color: #3e3e88;
    color: #fff;
}

.btn-apply:hover {
    background-color: #218838;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-apply:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.btn-action i {
    margin-right: 4px;
}

/* Estilo do container de ações */
.action-box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    width: 100%;
}

