.card-list-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.card-list-component h1 {
    width: 100%;
    color: #333;
    margin: 20px 0;
    text-align: center;
}

.individual-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-bottom: 16px;
}

.individual-card h3 {
    margin: 0 0 12px;
}

.individual-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    margin-top: 6px;
    border-radius: 25px;
    color: black;
}

.individual-card small {
    height: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
    color: #1e446f;
}

.individual-card .d-flex {
    margin-bottom: 12px;
}

.individual-card .d-flex div {
    flex: 1;
}

.individual-card .d-flex p {
    margin: 0;
}

.btn-view {
    background-color: #3e3e68;
}

.btn-apply {
    background-color: #28a745;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-view:hover {
    background-color: #3e3e88;
    color: #fff;
}

.btn-apply:hover {
    background-color: #218838;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-apply:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}