/* Estilos gerais do header */

header {
    height: 55px;
    width: 100%;
    background: var(--header-background);
    position: fixed;
    top:0;  
    z-index: 1000;
}
main{
    margin-top: 55px;
}

.main-navigation {
    padding: 5px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.brand-link {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.brand-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

/* Navegação */
.navigation-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.nav-link:hover {
    color: #f0f0f0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/* Dropdown menu */
.nav-dropdown {
    display: none;
    position: absolute;
    right:0;
    background: var(--header-background);
    margin-top: 5px;
    padding: 10px;
    list-style: none;
    width: 25%;
}

.nav-item:hover .nav-dropdown {
    display: block;
}

.dropdown-header-item, .logout-button {
    color: white;
    background: none;
    font-size: 1.3rem !important;
    min-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-header-item:hover{
    background-color: var(--primary-color-light);
    color: white;
}

.logout-button:hover {
    background-color: #c0392b;
}

/* Logout button */
/* .logout-button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
*/
/* Toggle button para mobile */
.nav-toggle {
    display: none; /* Escondido para telas maiores */
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #2c3e50;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
    }

    .nav-item {
        margin-left: 0;
        padding: 10px 20px;
        text-align: center;
    }

    .nav-toggle.active + .nav-list {
        display: flex;
    }
    @media (max-width: 1024px){
        header{
            position: static;
            height: 100%;
        }
    }
}