<div th:fragment="opportunityCard(opportunity)">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">[[${opportunity.principalActivity}]]</h5>

            <p class="card-text">
                <strong>Remuneração:</strong> [[${opportunity.remunerationValue}]]
            </p>

            <p class="card-text">
                <strong>Quantidade de Vagas:</strong> [[${opportunity.quanty}]] Vagas
            </p>

            <p class="card-text">
                <strong>Carga Horária:</strong> [[${opportunity.workloadSemanal}]]
            </p>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary me-2">Editar</button>
            <button class="btn btn-success me-2">Finalizar</button>
            <button class="btn btn-danger me-2">Cancelar</button>
            <button class="btn btn-warning">Bloquear</button>
        </div>
    </div>
</div>