<div class="individual-card inter-font" th:fragment="offer-card(offer)">
    <h3 th:text="${offer.principalActivity}"></h3>
    <div class="d-flex flex-row gap-2">
        <div class="d-flex flex-column">
            <smal>ID</smal>
            <p th:text="${offer.id}"></p>
        </div>
        <div class="d-flex flex-column">
            <smal>Contratante</smal>
            <a th:href="@{/company/info/{id}(id=${offer.companyResponsible.id})}"
                th:text="${offer.companyResponsible.fantasyName}"></a>
        </div>
    </div>
    <div class="d-flex flex-row gap-3">
        <div class="d-flex flex-column">
            <smal>Carga Horária Semanal</smal>
            <p th:text="${offer.weeklyWorkload} + ' horas'"></p>
        </div>
        <div class="d-flex flex-column">
            <smal>Valor da Bolsa</smal>

            <p>
                <span th:if="${offer.remunerationValue > 0}"
                    th:text="'R$ ' + ${#numbers.formatDecimal(offer.remunerationValue, 1, 2)}"></span>
                <span th:unless="${offer.remunerationValue > 0}">
                    <strong>Estágio Voluntário</strong>
                </span>
            </p>

        </div>
    </div>
    <div class="d-flex flex-row gap-3">
        <div class="d-flex flex-column">
            <smal>Vale Transporte</smal>
            <p
                th:text="${offer.transportVoucher != null && offer.transportVoucher > 0} ? 'R$' + ${#numbers.formatDecimal(offer.transportVoucher, 1, 2)} : 'Nenhum'">
                Nenhum</p>
        </div>
        <div class="d-flex flex-column">
            <smal>Pré-requisitos</smal>
            <p th:if="${offer.prerequisites != null && !offer.prerequisites.isEmpty()}"
                th:text="${offer.prerequisites}"></p>
            <p th:unless="${offer.prerequisites != null && !offer.prerequisites.isEmpty()}">
                Nenhum</p>
        </div>
    </div>
    <div class="status-box mt-3">
        <smal>Status da Oferta</smal>
        <p th:classappend="${offer.status.ABERTA} ? 'text-success' : 'text-danger'"
            th:text="${offer.status.ABERTA} ? 'Aberta' : 'Fechada'"></p>
    </div>
    <div class="buttons-actions d-flex gap-2 justify-content-center mt-3">
        <a th:href="@{info/{id}(id=${offer.id})}" class="button-action btn-view">
            <i class="bi bi-binoculars-fill"></i> Visualizar
        </a>
        <form th:action="@{apply/{id}(id=${offer.id})}" method="get"
              th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}">
            <button class="button-action btn-apply" type="submit" value="Candidatar-se">
                <i class="bi bi-check-circle-fill"></i> Candidatar-se
            </button>
        </form>
        <form th:action="@{cancel/{id}(id=${offer.id})}" method="post"
              th:if="${#authorization.expression('hasRole(''ROLE_COMPANY'') or hasRole(''ROLE_ADMIN'')')}">
            <input type="hidden" name="_method" value="DELETE" />
            <button class="button-action btn-delete" type="submit">
                <i class="bi bi-x-circle-fill"></i> Cancelar
            </button>
        </form>
    </div>
</div>