<form th:action="@{/internshipOffer/filter}" method="get">
    <div class="form-group" th:if="${#authorization.expression('hasAnyRole(''ROLE_STUDENT'', ''ROLE_COORDINATOR'', ''ROLE_ADMIN'')')}">
        <label for="companyName">Nome da Empresa:</label>
        <input type="text" id="companyName" name="companyName" class="form-control"
            placeholder="Nome da Empresa">
    </div>
    <div class="form-group">
        <label for="minRemuneration">Remuneração Mínima:</label>
        <input type="number" step="0.01" id="minRemuneration" name="minRemuneration"
            class="form-control" placeholder="R$">
    </div>
    <div class="form-group">
        <label for="maxRemuneration">Remuneração Máxima:</label>
        <input type="number" step="0.01" id="maxRemuneration" name="maxRemuneration"
            class="form-control" placeholder="R$">
    </div>
    <div class="form-group">
        <label for="minWeeklyWorkload">Carga Horária Mínima (horas):</label>
        <input type="number" id="minWeeklyWorkload" name="minWeeklyWorkload" class="form-control">
    </div>
    <div class="form-group">
        <label for="maxWeeklyWorkload">Carga Horária Máxima (horas):</label>
        <input type="number" id="maxWeeklyWorkload" name="maxWeeklyWorkload" class="form-control">
    </div>
    <div class="form-group">
        <label for="prerequisites">Pré-requisitos:</label>
        <input type="text" id="prerequisites" name="prerequisites" class="form-control"
            placeholder="Pré-requisitos">
    </div>
    <div class="container mt-3">
        <div class="d-flex w-100 justify-content-between">
            <button type="submit" class="btn btn-primary btn-large w-25">Filtrar</button>
            <button class="btn btn-primary btn-large ml-auto w-50" th:href="@{/internshipOffer/offers}"
                    th:if="${#authorization.expression('hasAnyRole(''ROLE_STUDENT'', ''ROLE_COORDINATOR'', ''ROLE_ADMIN'')')}">
                Listar Todas
            </button>
        </div>
</form>