
<head th:fragment="list-headfiles(title)">
    <meta th:replace="~{/fragments/headfiles(title=${title})}" />
    <link rel="stylesheet" th:href="@{/styles/list.css}">
</head>

<head th:fragment="form-headfiles(title)">
    <meta th:replace="~{/fragments/headfiles(title=${title})}" />
    <link rel="stylesheet" th:href="@{/styles/form.css}">
</head>

<head th:fragment="perfil-headfiles(title)">
    <meta th:replace="~{/fragments/headfiles(title=${title})}" />
    <link rel="stylesheet" th:href="@{/styles/perfil.css}">
</head>

<head th:fragment="register-headfiles(title)">
    <meta th:replace="~{/fragments/headfiles(title=${title})}" />
    <link rel="stylesheet" th:href="@{/styles/form.css}">
</head>