<div class="container" th:fragment="footer">
    <footer class="row row-cols-5 py-5 my-5 border-top">
        <div class="col text-center copyright">
            <a th:href="@{/}" class="d-inline-block mb-3 link-dark text-decoration-none">
                <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                    <image th:href="@{/imgs/icons/incruise-icon.ico}" width="80" height="80"/>
                </svg>
            </a>
            <p class="text-muted mb-0 text-center">© Copyright 2024 Incruise. Todos os direitos reservados.</p>
        </div>

        <div class="col"></div>

        <div class="col">
            <h5>Incruise</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">Conectando estudantes a oportunidades de estágio, aproximando talentos e
                    empresas para um futuro promissor.
                </li>
            </ul>
        </div>

        <div class="col">
            <h5>Contato</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">João Pessoa, PB</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">contato@incruise.com</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+55 83 2345-6789</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+55 83 2345-6789</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Siga-nos</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fab fa-facebook-f"></i>
                    Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fab fa-twitter"></i>
                    Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fab fa-instagram"></i>
                    Instagram</a></li>
            </ul>
        </div>
    </footer>
</div>