<div th:fragment="opportunityCard(opportunity)">
    <div class="list-item">
        <h3 th:text="${opportunity.principalActivity}">Principal Atividade</h3>
        <p><strong>Carga Horária Semanal:</strong> <span th:text="${opportunity.weeklyWorkload}">40 horas</span></p>
        <p><strong>Remuneração:</strong> <span th:text="${opportunity.remunerationValue}">R$ 0,00</span></p>
        <p><strong>Vale Transporte:</strong> <span th:text="${opportunity.transportVoucher}">Sim</span></p>
        <p><strong>Pré-requisitos:</strong> <span th:text="${opportunity.prerequisites}">Nenhum</span></p>
    </div>
</div>
