<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolher forma de registro</title>
    <link rel="shortcut icon" type="imagex/png" href="../logo.png">
    
</head>
<body>
    <h1>Selecione como deseja se cadastrar:</h1>
    <button onclick="window.location.href='../companies/form.html'">Registrar como Empresa</button>
    <button onclick="window.location.href='../students/form.html'">Registrar como Estudante</button>
</body>
</html>