<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolher forma de registro</title>
    <link rel="shortcut icon" type="imagex/png" href="../logo.png">
    
</head>
<body>
    <h1>Selecione como deseja se cadastrar:</h1>
    <div class="register-links">
        <button type="button" th:onclick="|window.location.href='@{/company/register}'|">Registrar como Empresa</button>
        <button type="button" th:onclick="|window.location.href='@{/student/register}'|">Registrar como Estudante</button>
    </div>
</main> </main> </body>

</html>