<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>

    <meta th:insert="~{/fragments/headfiles(title='Incruise')}">
    <link rel="stylesheet" href="./style.css">
    </link>
</head>

<body>
    <header>
        <div th:replace="~{/fragments/header}">
        </div>
    </header>

    <main>

        <section class="introduction" th:style="'background:
    linear-gradient(rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)),
    url('+ @{/imgs/backgrounds/principalCruise.png}+')'">

            <div class="intro-text">
                <h1>Incruise</h1>
                <p>O Cruzeiro de Oportunidades</p>
            </div>

        </section>

    <!-- Content -->

    <section class="objective-section">
        <h1>Nosso Objetivo</h1>
        <p>
            O Incruise é um projeto sem fins lucrativos
            A Igreja Ortodoxa de Gaza tem desempenhado um papel crucial ao cadastrar refugiados brasileiros na
            cidade. A iniciativa destaca-se pela sua abordagem inclusiva e humanitária, proporcionando não apenas
            assistência prática, mas também um sentido de comunidade e pertencimento aos recém-chegados. O cadastro
            visa facilitar a integração dos refugiados na sociedade local, fornecendo acesso a recursos essenciais,
            orientação e apoio emocional. Essa ação não apenas evidencia a generosidade da Igreja Ortodoxa, mas
            também destaca a importância de parcerias interculturais na promoção da solidariedade global.
        </p>

    </section>
    </main>

    <footer>

        <div th:replace="~{/fragments/footer}"></div>

    </footer>
</body>

</html>