:root {

    /* colors */
    --button-background: linear-gradient(82deg, rgba(25,62,41,0.8883928571428571) 52%, rgba(1,3,6,1) 98%);
    --button-background-hover: linear-gradient(82deg, rgba(9,173,80,0.9444152661064426) 55%, rgba(1,3,6,1) 98%);
    --button-color: #ddddb0;
    --title-color: #d9bcb8;
    --font-color: #333;
  
    --introduction-color: #ecece2;
  
    /*font-size*/
    --title-size-font: 3em;
    --paragraph-size-font: 1.2rem;
  }


*{
margin: 0;
padding: 0;
box-sizing: border-box;
cursor: default;
}
/* introduction */
.introduction {
    
    /*REMOVER ISSO DEPOIS*/
    background: 
    linear-gradient(rgba(0,0,0,0.5), #00000080),url("../static/imgs/backgrounds/principalCruise.jpg");
    /*REMOVER ISSO DEPOIS*/
    background-color: rgba(217, 27, 27, 0.424);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .introduction .intro-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
  }
  
  .introduction .intro-text p,
  .introduction .intro-text h1 {
    color: var(--introduction-color);
  }
  
  .introduction .intro-text h1 {
    margin: 0px;
    font-size: 3em;
    text-transform: uppercase;
  }
  
  .introduction .intro-text p {
    font-size: 2em;
    font-style: italic;
  }
  
  .introduction .intro-text .btn {
    /*como centralizar qualquer coisa >:O */
    /*Time Flex-box !!!!!!!!!! */
    display: flex;                
    justify-content: center;      
    align-items: center;          
    color: #fff;
    background: var(--button-background);
    border-color: var(--button-background);
    border-radius: 3px;
    font-size: 1.5em;
    padding: 20px 40px;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  
  }
