<div class="individual-card inter-font " th:fragment='companyCard(company)'>
    <a th:href="'https://' +${company.urlPage}" target="_blank">
        <h3 th:text="${company.fantasyName}"></h3>
    </a>
    
    <div class="d-flex flex-row gap-2">
        <div class="d-flex flex-column">
            <smal> ID </smal>
            <p>[[${company.id}]]</p>

        </div>
        <div class="d-flex flex-column">
            <smal>CNPJ</smal>
            <p th:text="${company.cnpj}"></p>

        </div>
    </div>

    <smal>Principal Atividade</smal>
    <p class="inter-font text-sm" th:text="${company.principalActivity}"></p>
    <div class="d-flex flex-row gap-3">
        <!-- Email e Telefone -->
        <div class="d-flex flex-column">
            <smal>Email:</smal>
            <p th:text="${company.user.email}"></p>
        </div>
        <div class="d-flex flex-column">
            <smal>Telefone:</smal>
            <p th:text="${company.phoneNumber}"></p>
        </div>

    </div>
    <div class="d-flex flex-row gap-3">
        <div class="d-flex flex-column">
            <smal>Endereço:</smal>
            <p th:text="${company.address}"></p>
        </div>
    </div>

    <div>
        <div class="buttons-actions">
            <a th:href="@{/company/info/{username}(username=${company.user.username})}" class="button-action btn-view">
                
                <i class="bi bi-binoculars-fill"></i>
            </a>
            <form th:action="@{/company/delete/{id}(id=${company.id})}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <button class="button-action btn-delete" type="submit" value="">
                    <i class="bi bi-trash-fill"></i> </button>
            </form>

            <form th:action="@{/company/edit/{id}(id=${company.id})}" method="get">
                <input type="hidden" name="_method" value="EDIT" />
                <button class="button-action btn-edit" type="submit" value="">
                    <i class="bi bi-pen-fill"></i> </button>

            </form>

        </div>
    </div>
</div>