<div class="d-flex buttons-actions" th:fragment="candidature-actions(candidature)">
    <button class="btn btn-view button-action"
    >Visualizar</button> <!--  Empresa ou Aluno visualiza a candidatura do Aluno  -->
    <button class="btn btn-success button-action"
    th:if="${#authorization.expression('hasRole(''ROLE_COMPANY'')')} ">
    Aprovar</button> <!--  Empresa aprova a candidatura do Aluno  -->
    <button class="btn button-action btn-danger" 
    th:if="${#authorization.expression('hasRole(''ROLE_COMPANY'')')} ">
    Recusar</button> <!--  Empresa recusa a candidatura do Aluno  -->
    <button class="btn btn-danger button-action"  
    th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')} "
    >Cancelar Candidatura</button> <!-- Aluno Cancela sua candidatura  -->
</div>
