<table class="table-candidatures" th:fragment="candidatures">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Email</th>
            <th>Curso</th>
            <th>Telefone</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody th:each="c : ${candidatures}">
        <tr>
            <td><a th:text="${c.student.name}" th:href="@{/student/info/{id}(id=${c.student.id})}">Nome do estudante</a>
            </td>
            <td th:text="${c.student.enrollment}">Matrícula do Estudante</td>
            <td th:text="${c.student.email}">Email do Estudante</td>
            <td th:text="${c.student.course}">Curso do Estudante</td>
            <td th:text="${c.student.phoneNumber}">Telefone do Estudante</td>
            <td th:text="${#temporals.format(c.createdDate, 'dd/MM/yyyy')}">Data da Candidatura</td>
            <td>
                <div class="buttons-actions">
                    <button class="btn button-action">Aprovar</button> <!--  Empresa aprova a candidatura do Aluno  -->
        <button class="btn button-action">Visualizar</button> <!--  Empresa ou Aluno visualiza a candidatura do Aluno  -->
        <button class="btn button-action">Recusar</button> <!--  Empresa recusa a candidatura do Aluno  -->
                </div>
            </td>

        </tr>
    </tbody>
</table>