<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="title='Home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta
        th:insert="~{/fragments/custom-headfiles :: form-headfiles(title='Candidatar-se -'+ ${offer.principalActivity})}">
    <link rel="stylesheet" th:href="@{/styles/candidature.css}">
</head>

<body >
    <main class="application-screen" layout:fragment="content">
        <div class="application-container">
            <h1>Formulário de Candidatura</h1>
            
            <p class="inform"> *confirme seus dados</p>
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>

            <form th:action="@{/candidature/apply}" method="post">
                <input type="hidden" name="offerId" th:value="${offer.id}" />

                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" th:value="${student.name}" disabled>
                </div>
                <div class="d-flex  align-items-center justify-content-around">
                    <div class="form-group">
                        <label for="enrollment">Matrícula</label>
                        <input type="text" id="enrollment" name="enrollment" th:value="${student.enrollment}" disabled>
                    </div>
    
                    <div class="form-group">
                        <label for="email">Curso</label>
                        <input type="text" id="course" name="course" th:value="${student.course}" disabled>
                    </div>

                </div>
                
                <div class="d-flex  align-items-center justify-content-around">
                    <div class="form-group">
                        <label for="phoneNumber">Telefone</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" th:value="${student.phoneNumber}" disabled>
                    </div>
    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" th:value="${student.user.email}" disabled>
                    </div>

                </div>

                <div class="form-group">
                    <label for="message">Mensagem (Opcional):</label>
                    <textarea id="message" name="message" rows="5"></textarea>
                </div>

                <button type="submit" class="btn-submit">Enviar Candidatura</button>
            </form>
        </div>
    </main>
</body>

</html>