<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta th:insert="~{/fragments/custom-headfiles :: list-headfiles(title='Candidaturas')}">

</head>

<body>
    <header th:replace="~{/fragments/header}"></header>
    <main class="main-screen">

        <div class="card-list-component">
            <h1>Candidaturas</h1>
            <div class="buttons-actions">

                <!-- <th:block th:replace="~{/candidatures/fragments/filter}"></th:block> -->
                <div class="father-card">

                    <th:block th:each="candidature : ${candidatures}"
                        th:insert="~{/candidatures/fragments/card(candidature= ${candidature})}"></th:block>
                </div>

            </div>

    </main>
    <div th:replace="~{/fragments/scripts}"></div>

</body>

</html>