<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta th:insert="~{/fragments/custom-headfiles :: list-headfiles(title='Canidaturas')}">

</head>

<body>
    <header th:replace="~{/fragments/header}"></header>
    <main>

        <div class="main-screen">
            <div class="card-list-component">
                <h1>Canidaturas</h1>
                <div class="buttons-actions">

                    <!-- <th:block th:replace="~{/candidatures/fragments/filter}"></th:block>-->

                    <div class="father-card">

                        <div class="col-md-6 col-lg-6">
                            <th:block th:each="offer : ${candidatures}"
                                th:insert="~{/candidatures/fragments/card(offer)}">
                            </th:block>
                        </div>

                    </div>


                </div>
            </div>

    </main>
    <div th:replace="~{/fragments/scripts}"></div>

</body>

</html>