<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:insert="~{/fragments/custom-headfiles :: register-headfiles(title='Cadastrar-se')}">
    <link rel="stylesheet" href="/styles/student/form-student.css">
    <title>Registrar-se</title>
</head>

<body class="main-screen">
<header th:replace="~{/fragments/header}"></header>
<main>
    <div class="card-main">
        <div class="main-content inter-font-line">
            <h1 class="title-page">Cadastrar-se</h1>
            <form th:action="@{/student/save}" method="post" th:object="${student}">
                <input id="input-id" class="input-form" type="hidden" th:field="*{id}"/>

                <label class="label-form" for="input-name">Nome *</label>
                <input class="input-form" id="input-name" maxlength="100" placeholder="Seu nome completo" required
                       th:field="*{name}" title="Nome completo é obrigatório e deve ter no máximo 100 caracteres."
                       type="text"/>

                <label class="label-form" for="input-enrollment">Matrícula *</label>
                <input id="input-enrollment" name="enrollment" class="input-form" placeholder="Sua matrícula"
                       type="text" th:field="*{enrollment}" required pattern="\d{11}"
                       title="Matrícula deve ter 11 dígitos."/>
                <span th:if="${enrollmentError}" class="alert alert-danger" th:text="${enrollmentError}"></span>

                <label class="label-form" for="input-course">Curso *</label>
                <input id="input-course" placeholder="Nome do curso" class="input-form" type="text" th:field="*{course}"
                       required maxlength="100"
                       title="O nome do curso é obrigatório e deve ter no máximo 100 caracteres."/>

                <label class="label-form" for="input-birthdate">Data de Nascimento *</label>
                <input id="input-birthdate" class="input-form" placeholder="Data de nascimento (DD/MM/AAAA)" type="date"
                       th:field="*{birthdate}" required
                       title="Por favor, insira uma data válida no formato DD/MM/AAAA."/>
                <span th:if="${birthdateError}" class="alert alert-danger" th:text="${birthdateError}"></span>

                <label class="label-form" for="phoneNumberInput">Telefone *</label>
                <input type="tel" id="phoneNumberInput" class="input-form" placeholder="Telefone"
                       th:field="*{phoneNumber}" required pattern="\d{10,11}"
                       title="Por favor, insira um número de telefone válido com 10 ou 11 dígitos."/>

                <label class="label-form" for="input-username">Nome de Usuário *</label>
                <input id="input-username" name="username" class="input-form" placeholder="Nome de usuário" type="text"
                       th:field="*{user.username}" required minlength="5" maxlength="20"
                       pattern="[a-zA-Z0-9]+"
                       title="Nome de usuário deve ter entre 5 e 20 caracteres e conter apenas letras e números."/>
                <span th:if="${usernameError}" class="alert alert-danger" th:text="${usernameError}"></span>

                <label class="label-form" for="input-email">Email *</label>
                <input id="input-email" class="input-form" placeholder="Seu email" type="email" th:field="*{user.email}"
                       required
                       title="Por favor, insira um endereço de email válido."/>
                <span th:if="${emailError}" class="alert alert-danger" th:text="${emailError}"></span>

                <label class="label-form" for="input-password">Senha *</label>
                <input class="input-form" id="input-password" minlength="8" maxlength="20" name="password"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       placeholder="Senha" required th:field="*{user.password}"
                       title="Senha deve ter pelo menos 8 caracteres, incluir uma letra maiúscula, uma letra minúscula e um número."
                       type="password"/>

                <label class="label-form" for="input-password-confirm">Confirme a Senha *</label>
                <input id="input-password-confirm" class="input-form" placeholder="Confirme sua senha" type="password"
                       required minlength="8"
                       title="Confirmação da senha deve ter pelo menos 8 caracteres e corresponder à senha fornecida."/>

                <div id="password-error" class="error-message" style="display: none; color: red;">
                    As senhas não coincidem. Por favor, verifique.
                </div>

                <div>
                    <h3>Competências:</h3>
                    <div class="label-competence">
                        <label th:each="competence : ${competences}">
                            <input type="checkbox" th:field="*{competenceList}" th:value="${competence.id}"/>
                            <span th:text="${competence.description}"></span>
                        </label>
                    </div>
                </div>

                <div class="buttons-actions">
                    <input class="submit-input" type="submit" value="Salvar">
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{/fragments/scripts}"></div>
</main>
</body>

</html>