<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="title='Home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta th:insert="~{/fragments/custom-headfiles :: perfil-headfiles(title=${student.name})}">
    <link rel="stylesheet" th:href="@{/styles/students/info.css}">
    <link rel="stylesheet" th:href="@{/styles/fragments/card-global.css}">
</head>
<body>
    <main layout:fragment="content">
        <section class="info-section" id="first-info">
            <img th:src="@{/imgs/default/student-boy-default.png}">
            <h1 id="name" th:text="${#strings.capitalize(student.name)}">João Maria Lobo Alves Palhares Costa Palhinha
                Gonçalves</h1>
        </section>

        <section class="info-section" id="academic-section">
            <h1 class="section-title">Dados Acadêmicos</h1>
            <div class="flex around">
                <div class="topic">
                    <h1 class="topic-title">Matrícula</h1>
                    <p class="topic-content" th:text="${student.enrollment}">00001112222</p>
                </div>

                <div class="topic">
                    <h1 class="topic-title">Curso</h1>
                    <p class="topic-content" th:text="${student.course}">Sistemas de Informação</p>
                </div>
            </div>
        </section>

        <section class="info-section" id="basic-section">
            <h2 class="section-title">Dados Pessoais</h2>
            <div class="flex around">
                <div class="topic">
                    <h1 class="topic-title">Nome Completo</h1>
                    <p class="topic-content" th:text="${student.name}">João Maria Lobo Alves Palhares Costa Palhinha
                        Gonçalves</p>
                </div>
                <div class="topic">
                    <h1 class="topic-title">Data de Nascimento</h1>
                    <p class="topic-content" th:if="${student.birthdate}"
                        th:text="${#temporals.format(student.birthdate, 'dd/MM/yyyy')}">09/07/1995</p>
                </div>
            </div>
        </section>

        <section class="info-section" id="competences-section">
            <h2 class="section-title">Competências</h2>

            <div th:if="${#lists.isEmpty(student.competenceList)}">
                <p class="no-content-msg">De alguma forma, Não há competências</p>
            </div>

            <div id="competence-List" class="flex around">
                <p th:each="competence : ${student.competenceList}" th:text="${competence.description}">
                    Isso é uma grande competência
                </p>
            </div>
        </section>

        <section class="info-section" id="contact-section">
            <h2 class="section-title">Contato</h2>
            <div class="flex around">
                <div class="topic">
                    <h1 class="topic-title">Email</h1>
                    <p class="topic-content" th:text="${student.user.email}">palinha.joao@academico.uepa.edu.br</p>
                </div>

                <div class="topic">
                    <h1 class="topic-title">Telefone</h1>
                    <p class="topic-content" th:text="${student.phoneNumber}">+55 83 8229-2523</p>
                </div>
            </div>
        </section>

        <section class="info-section" id="oportunity-section">
            <!-- th:if="${#authentication.principal.username == student.user.username}" -->
            <!-- Para Privar a visualização das candidaturas -->
            <div class="card-list-component">

                <h1 class="section-title"> Candidaturas</h1>

                <div th:if="${#lists.isEmpty(student.candidatureList)}">
                    <p class="no-content-msg">Não há registros de candidaturas.</p>
                </div>

                <th:block th:each="candidature : ${student.candidatureList}"
                    th:insert="~{/candidatures/fragments/card(candidature)}">

                </th:block>

            </div>
        </section>

    </main>
</body>

</html>