<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="title='Home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta th:insert="~{/fragments/custom-headfiles :: list-headfiles(title='Estudantes')}">
</head>

<body>
    <main class="main-screen" layout:fragment="content">
        <div class="card-list-component">
            <h1>Todos os Alunos Cadastrados</h1>
            <div class="buttons-actions">
                <a class="button-add btn btn-primary " th:href="@{/student/register}">
                    Novo Aluno
                </a>   
            </div>
            <div th:replace="~{/students/fragments/table}">

            </div>
            <div class="father-card">
                <th:block th:each="student :${students}" th:insert="~{/students/fragments/card(student= ${student})}">
                </th:block>
            </div>
        </div>
    </main>
</body>

</html>