<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta th:insert="~{/fragments/headfiles(title=Candidaturas)}">

    <link rel="stylesheet" th:href="@{/styles/list.css}">
</head>
<body>

     <header  th:replace="~{/fragments/header}"></header> <main>
<h1>Candidaturas de [[${studentName}]]</h1>
<div class="candidatures-container">
    <div th:if="${not #lists.isEmpty(candidatures)}">
        <table>
            <thead>
            <tr>
                <th>ID da Oferta</th>
                <th>Atividade Principal</th>
                <th>Mensagem</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidature : ${candidatures}">
                <td th:text="${candidature.offer.id}"></td>
                <td th:text="${candidature.offer.principalActivity}"></td>
                <td th:text="${candidature.message}"></td>
                <td th:text="${candidature.formattedDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(candidatures)}">
        <p class="no-content-msg">Você ainda não possui candidatura(s).</p>
    </div>
</div>
<div th:replace="~{/fragments/scripts}">

</main> </main> </body>

</html>