
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("main.css");



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.inter-font-line {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Estilos principais da tela */
.main-screen {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #7F7F7F; /* Cor de fundo clara */
    margin: 50px 0 200px 0;
    height: auto;
}

.card-main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: transparent;
    color: white;
    width: 500px;
    height: auto;
    border: none;
    border-radius: 8px;
    padding: 20px;
}

/* Estilo do conteúdo principal */
.main-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white; /* Cor do texto */
    height: auto;
}

/* Estilo dos botões de submissão */
.submit-input {
    width: 100px;
    height: 40px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

/* Estilo do botão ao passar o mouse */
.submit-input:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

.label-competence {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de largura igual */
    gap: 10px; /* Espaçamento entre os itens */
    align-items: start; /* Alinha os itens no topo de cada célula */
}


/* Estilo dos campos de entrada do formulário */
.input-form {
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ced4da; /* Cor da borda dos campos */
    background-color: #ffffff; /* Cor de fundo dos campos */
    height: 43px;
}

/* Estilo dos grupos de formulário */
.form-group {
    margin-bottom: 15px;
}

/* Estilo dos rótulos dos campos do formulário */
label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333333; /* Cor do texto dos rótulos */
}

/* Estilo dos campos de texto, número, data e textarea */
input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #495057; /* Cor do texto dentro dos campos */
}


.file-upload input[type="file"] {
    display: none;
}
/* Estiliza o botão */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #495057;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top:8px ;
}

/* Estiliza o botão quando o mouse está sobre ele */
.custom-file-upload:hover {
    background-color: green;
}


    /* Estilo dos botões de envio */
button[type="submit"] {
    width: 100%;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Estilo do botão ao passar o mouse */
button[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

.title-page {
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center ;
    flex-direction: row;
}

.buttons-actions {
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center ;
    flex-direction: row;
}