body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0  50px 0 50px;
    width: 100%;
    max-width: 600px;
}

.main-content {
    margin: 20px 0;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container-description {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #6cb0fe;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-form {
    width: fit-content;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.input-form:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-input {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.submit-input:hover {
    background-color: #0056b3;
}

.file-upload {
    margin-top: 10px;
}

.custom-file-upload {
    display: none;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}