@import url("main.css");

/* Estilos principais da tela */
.main-screen {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #6cb0fe; /* Cor de fundo clara */
    padding: 40px 0;
    width: 100%;
}
