<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar - Empresa</title>
</head>
<body>

<h1>Editar Empresas</h1>


  <form th:action="@{/company/edit/{id}(id=${currentCompany.id})}"
        th:object="${currentCompany}"
        method="post" >
    <p  th:text="${currentUser.username}"  ></p>
    <br/>

    <label for="fantasyNameInput">ID :</label>
    <input type="text"  th:field="*{id}"  placeholder="id ne  vida"/>
    <br/>


    <label >Username:</label>
    <input type="text" th:field="*{user.username}" placeholder="Username" />
    <br/>

    <!-- Campo para o email do User -->
    <label  >Email:</label>
    <input type="email" th:field="*{user.email}" placeholder="Email" />
    <br/>

    <!-- Campo para o password do User (caso necessário) -->
    <label >Password:</label>
    <input  th:field="*{user.password}" placeholder="Password" />
    <br/>

    <!-- Campo para o role do User -->
    <label >Role:</label>
    <input type="text" th:field="*{user.role}" placeholder="Role" />

    <br/>
    <label for="fantasyNameInput">Nome Fantasia:</label>
  <input type="text" id="fantasyNameInput" th:field="*{fantasyName}" required placeholder="Nome fantasia *"/>
  <br/>

  <label for="cnpjInput">CNPJ:</label>
  <input type="text" id="cnpjInput" th:field="*{cnpj}" required placeholder="CNPJ *"/>
  <br/>

  <label for="phoneNumberInput">Telefone:</label>
  <input type="text" id="phoneNumberInput" th:field="*{phoneNumber}" required placeholder="Telefone *"/>
  <br/>

  <label for="personContactInput">Pessoa de Contato:</label>
  <input type="text" id="personContactInput" th:field="*{personContact}" required placeholder="Pessoa de Contato *"/>
  <br/>

  <label for="principalActivityInput">Atividade Principal:</label>
  <input type="text" id="principalActivityInput" th:field="*{principalActivity}" required placeholder="Atividade Principal *"/>
  <br/>

  <label for="urlPageInput">Página Web:</label>
  <input type="text" id="urlPageInput" th:field="*{urlPage}" required placeholder="Página Web *"/>
  <br/>

  <label for="addressProofInput">Prova de Endereço:</label>
  <input type="file" id="addressProofInput" th:field="*{addressProof}" />
  <br/>

  <button type="submit">Salvar</button>
</form>

<a th:href="@{/company/companies}">Voltar para páginas de empresas!</a>

</body>
</html>