<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empresas</title>
</head>

<body class="main-screen">

<div class="card-component">
    <h1> Todas Empresas cadastradas</h1>

    <a th:href="@{/company/register}">
        <button class="button-add">
            New
        </button>
    </a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome Fantasia</th>
            <th>CNPJ</th>
            <th>principal Atividade</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Pessoa p/ Contato</th>
            <th>Endereço</th>
            <th>Página</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company :${companies}">
            <td>[[${company.id}]]</td>
            <td th:text="${company.fantasyName}"></td>
            <td th:text="${company.cnpj}"></td>
            <td th:text="${company.principalActivity}"></td>
            <td th:text="${company.email}"></td>
            <td th:text="${company.phoneNumber}">td>
            <td th:text="${company.personContact}">td>
            <td th:text="${company.address}">td>
            <td th:text="${company.urlPage}">td>
            <td>
                <div class="action-box">
                    <form th:action="@{/company/delete/{id}(id=${company.id})}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input class="input-delete" type="submit" value="Remover"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>