<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/list.css}" />
    <meta th:insert="~{/fragments/custom-headfiles :: list-headfiles(title='Empresas')}">

</head>

<body class="main-screen">

    <header th:replace="~{/fragments/header}"> </header>
    <main>

        <div class="card-component">
            <h1> Todas as Empresas Cadastradas</h1>

            <a class="button-add btn btn-primary " th:href="@{/company/register}">
                Nova Empresa
            </a>
            <th:block th:replace="~{/companies/fragments/table(companies= ${companies})}">
            </th:block>

            <div class="father-card">
                <th:block th:each="company :${companies}" th:insert="~{/companies/fragments/card(company= ${company})}">
                </th:block>
            </div>

            <div th:replace="~{/fragments/scripts}">
            </div>
    </main>
    </main>
</body>