@import url("main.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.inter-font-line {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.main-screen {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #6cb0fe;
    margin: 50px 0 200px 0;
    height: auto;
}

.card-main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 500px;
    height: auto;
    border: none;
    border-radius: 8px;
    padding: 20px;
}


.main-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: auto;
}

.submit-input {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-input:hover {
    background-color: #0056b3;
}

.label-competence {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: start;
}

.input-form {
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    height: 43px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ced4da;
    color: #495057;
}

.custom-select {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.custom-file-upload {
    width: fit-content;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 8px;
    font-size: 14px;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.alert {
    display: flex;
    align-items: center;
    background-color: #ffe4e1;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 0.95em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.alert::before {
    content: '⚠️';
    margin-right: 10px;
    font-size: 1.2em;
}

.alert {
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}