@import url("main.css");
/* Botão adicionar */
.button-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17a2b8;
    color: white;
    font-size: 1.8rem;
/*     height: 2.1rem;*/    
    width: 35%;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 20px 0;
    transition: background-color 0.3s;
}

.button-add:hover {
    background-color: #138496;
}

.button-add:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(23, 162, 184, 0.5);
}


.filter-form{
    padding: 7.3vh 6.3vw ;
}