@import url("main.css");
/* Botão adicionar */
.button-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17a2b8;
    color: white;
    font-size: 1.6rem;
    height: 2.1rem;
    width: 25%;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 20px 0;
    transition: background-color 0.3s;
}

.button-add:hover {
    background-color: #138496;
}

.button-add:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(23, 162, 184, 0.5);
}

.father-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de largura igual */
    gap: 2px; /* Espaçamento entre os itens */
    align-items: start; /* Alinha os itens no topo de cada célula */
    width: 100%;
}
