* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

/* Body */
body {
    font-family: var(--font-family);
    font-size: 16px;
    background: var(--body-color-default);

}

a{
    text-decoration: none;
    color: var(--links-color);
    transition: ease-in all 0.5s;
}

a:hover{
    color: var(--neutral-color-dark-state-gray);
    font: bold;
    text-decoration: underline;
}
/* Classes*/

img.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

div.logo{
align-self:flex-start ;
justify-content: center;

}