*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
main{
  padding: 0 !important;
}
/* introduction */
.introduction {
    background-color: rgba(217, 27, 27, 0.424)!important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .introduction .intro-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
  }
  
  .introduction .intro-text p,
  .introduction .intro-text h1 {
    color: var(--introduction-color);
  }
  
  .introduction .intro-text h1 {
    margin: 0px;
    font-size: 3em;
    text-transform: uppercase;
  }
  
  .introduction .intro-text p {
    font-size: 2em;
    font-style: italic;
  }
  
  .introduction .intro-text .btn {
    /*como centralizar qualquer coisa >:O */
    /*Time Flex-box !!!!!!!!!! */
    display: flex;                
    justify-content: center;      
    align-items: center;          
    color: #fff;
    background: var(--button-background);
    border-color: var(--button-background);
    border-radius: 3px;
    font-size: 1.5em;
    padding: 20px 40px;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  
  }

  /* Main */
  main{
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: var(--font-color);
    font-size: var(--paragraph-size-font);
    gap:10vh;
  }

  .section-title{
    color: var(--font-color);
    font-size: var(--title-section-size-font);
    text-align: center;
    padding: 40px;
  }
  
  main p{
  text-align: center;
  font-size: 2rem;
  }

  .main-section{
    width: 100%;
  }

  /* Equipe Sessão */
#Team-Section {
    text-align: center;
    background-color: #f3f6fa; /* Cor de fundo leve */
}

.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}
