:root {
    /*Cores específicas*/
    --body-color-default:#fffcfc;

    /*tags*/
    --links-color: #2a318e;
    /*info pages colors*/
    --info-background: var(--secondary-color-gray);
    --info-section-border: 2px solid var(--secondary-color-dark);
    --oportunity-card-background: var(--secondary-color-gray);
    --oportunity-card-background-hover: var(--neutral-color-dark);
    --oportunity-card-color-hover: #feffff;

    
    /*Palheta*/
    --primary-color: #0073b7;
    /* Azul escuro */
    --primary-color-light: #428bca;
    /* Azul médio */
    --primary-color-dark: #00589c;
    /* Azul escuro */
    --primary-color-tomato: hsl(4, 100%, 67%);

    /* Cores secundárias */
    --secondary-color: #ffffff;
    /* Branco */
    --secondary-color-light: #f7f7f7;
    /* Cinza claro */
    --secondary-color-dark: #e5e5e5;
    /* Cinza claro */


    --secondary-color-gray:#dddada;
    /* Cores de destaque */
    --accent-color: #ff9800;
    /* Laranja */
    --accent-color-light: #ffb74d;
    /* Laranja claro */
    --accent-color-dark: #d77700;
    /* Laranja escuro */

    /* Cores neutras */
    --neutral-color: #333333;

    --neutral-color-dark: #666666;

    --neutral-color-light: #ccc8c8;

    --grey-neutral-color: hsl(0, 0%, 20%);

    --neutral-color-dark-state-gray: hsl(234, 29%, 20%);

    --neutral-color-charcoal-grey: hsl(235, 18%, 26%);

    --neutral-color-grey: hsl(231, 7%, 60%);

    --neutral-color-white: #F2F2F2

    --neutral-color-dark-grey: hsl(0, 0%, 12%);

    /* Outras cores */
    --link-color: #0073b7; /* Azul escuro */
    --link-color-hover: #428bca; /* Azul médio */
    --border-color: #ddd; /* Cinza claro */
    --off-black-neutral-color: hsl(0, 0%, 8%);
    
    --introduction-color:#ffffff;   

    /* Gradientes */

    --gradient-primary: linear-gradient(to right, var(--primary-color-light), var(--primary-color));
    --gradient-secondary: linear-gradient(to right, var(--secondary-color-light), var(--secondary-color));
    --gradient-accent: linear-gradient(to right, var(--accent-color-light), var(--accent-color));


    /* Fonts*/
    --info-font-family:sans-serif;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    /* Font-Size*/
    --title-section-size-font: 2.5rem;
    
}