<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:insert="~{/fragments/custom-headfiles :: register-headfiles(title='Cadastrar Oferta')}">
    <title>Cadastrar Oferta de Estágio</title>
    <link rel="stylesheet" href="/styles/internship/form-internship.css">
</head>
<body class="main-screen">
<header th:replace="~{/fragments/header}"></header>
<main>
    <div class="card-main">
        <div class="main-content">
            <h1>Cadastrar Oferta de Estágio</h1>
            <form th:action="@{/internshipOffer/save}" method="post" th:object="${internshipOffer}">
                <fieldset class="form-container">
                    <legend class="form-container-description">Informações da Oferta</legend>

                    <div class="d-flex flex-column gap-3">
                        <input type="text" id="principalActivity" class="input-form w-100" placeholder="Principal atividade *"
                               th:field="*{principalActivity}" required maxlength="100"
                               title="A principal atividade pode ter no máximo 100 caracteres.">

                        <div class="d-flex flex-row gap-3">
                            <input type="number" id="weeklyWorkload" class="input-form w-50" placeholder="Carga horária semanal *"
                                   th:field="*{weeklyWorkload}" required min="1" max="40"
                                   title="A carga horária semanal deve estar entre 1 e 40 horas." step="1">

                            <input type="number" id="remunerationValue" class="input-form w-50" placeholder="Valor da bolsa"
                                   th:field="*{remunerationValue}" step="0.01" min="0" value="0.00"
                                   title="Por favor, insira um valor válido para a bolsa. Utilize ponto (.) como separador decimal.">
                        </div>

                        <input type="number" id="transportVoucher" class="input-form w-100" placeholder="Vale transporte"
                               th:field="*{transportVoucher}" step="0.01" min="0.00" value="0.00"
                               title="Por favor, insira um valor válido para o vale transporte. Utilize ponto (.) como separador decimal.">
                    </div>
                </fieldset>

                <fieldset class="form-container">
                    <legend class="form-container-description">Empresa</legend>
                    <select id="company" name="companyId" class="input-form w-100 custom-select" required>
                        <option value="">Selecione uma empresa</option>
                        <option th:each="company : ${companies}" th:value="${company.id}"
                                th:text="${company.fantasyName}"></option>
                    </select>
                </fieldset>

                <fieldset class="form-container">
                    <legend class="form-container-description">Pré-requisitos</legend>

                    <textarea id="prerequisites" class="input-form w-100" placeholder="Pré-requisitos"
                              th:field="*{prerequisites}" maxlength="500"
                              title="Os pré-requisitos podem ter no máximo 500 caracteres."></textarea>

                    <div class="d-flex flex-column gap-3">
                        <label>Competências Necessárias:</label>
                        <div id="necessarySkills" class="d-flex flex-wrap gap-3">
                            <label th:each="competence : ${T(br.edu.pweb2.incruise.model.Competence).values()}" class="competence-checkbox">
                                <input type="checkbox" th:field="*{necessarySkills}" th:value="${competence}"/>
                                <span th:text="${competence.getDescription()}"></span>
                            </label>
                        </div>

                        <label>Competências Desejadas:</label>
                        <div id="desirableSkills" class="d-flex flex-wrap gap-3">
                            <label th:each="competence : ${T(br.edu.pweb2.incruise.model.Competence).values()}" class="competence-checkbox">
                                <input type="checkbox" th:field="*{desirableSkills}" th:value="${competence}"/>
                                <span th:text="${competence.getDescription()}"></span>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <button class="submit-input btn btn-primary" type="submit">Cadastrar Oferta</button>
            </form>
        </div>
    </div>

    <div th:replace="~{/fragments/scripts}"></div>
</main>
</body>
</html>